#include "cool642tb-mini.dtsi"

/ {
    /* See R.overlay: override BAT+ vbatt with VDDH for diagnostic. */
    chosen { zmk,battery = &vddh; };

    vddh: vddh {
        compatible = "zmk,battery-nrf-vddh";
        status = "okay";
    };
};

&kscan0 {
        col-gpios
            = <&xiao_d 10 GPIO_ACTIVE_HIGH>
            , <&xiao_d 9 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 8 GPIO_ACTIVE_HIGH> 
            , <&xiao_d 7 GPIO_ACTIVE_HIGH> 
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            , <&gpio0 9 GPIO_ACTIVE_HIGH>
            ;
};

&left_encoder {
    status = "okay";
};
